.kg-item {
    background-color: khaki;
}

.kg-span {
    font-weight: 500;
    color: rgb(255, 81, 0);
}

/* .food-heading {
    background-color: silver;
    color: brown;
} */

.button {
    float: right;
}
